.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-Container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
}

.auth-Container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Style the overall container */
.create-recipe {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

/* Style the form elements */
.create-recipe label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.create-recipe input[type="text"],
.create-recipe textarea,
.create-recipe input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-recipe textarea {
  resize: vertical;
  min-height: 100px;
}

/* Style the "Add Ingredient" button */
.create-recipe button[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-recipe button[type="button"]:hover {
  background-color: #0056b3;
}

/* Style the "Create" button */
.create-recipe button[type="submit"] {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-recipe button[type="submit"]:hover {
  background-color: #1d8f32;
}
